.navbar {
    background: rgb(30,30,30);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Logo{
    background: none;
    object-fit: contain;
    height: 5rem;
    width: 6rem;

}

.navMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.navMenuListItem:hover {
   color: rgb(0, 140, 255);
   padding-bottom: 0.5rem;
   border-bottom: 3px solid rgb(0, 140, 255);
}

.navMenuButton {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;


}

.navMenuImg {

    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}